---
layout: default
---
<div class="topimage">
	<img class="img-responsive" src="https://dl.dropboxusercontent.com/u/64133716/Homepage/Slides/flowertrees.jpg" />
</div><!-- topimage -->

<div class="container u-960">
	<div class="row">
		<div class="col-md-3">
			
			
			<!-- INJECT SECTION NAV -->	
				<div class="list-group u-5pad">
				  <a href="#" class="list-group-item">Cras justo odio</a>
				  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				  <a href="#" class="list-group-item">Morbi leo risus</a>
				  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
				  <a href="#" class="list-group-item">Vestibulum at eros</a>
				</div>
			<!-- END INJECT SECTION NAV -->	
			
		</div><!-- col-md-3 -->
		<div class="col-md-9">
		
		
		
			<!-- INJECT SECTION TITLE BODY -->	
			<h1>Title</h1>
			<img src="https://dl.dropboxusercontent.com/u/64133716/Homepage/Boxes/aerial.jpg" class="img-responsive pull-right u-5pad" style="max-width:300px;" />
			<p>Lorizzle mofo dolor sit amizzle, shiz adipiscing elit. Nullizzle brizzle velizzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle volutpat, suscipit quis, gravida vizzle, gangsta. Pellentesque phat its fo rizzle. Bizzle erizzle. Pimpin' at dolor dapibus turpis tempizzle tempizzle. Maurizzle shizzle my nizzle crocodizzle nibh et turpis. For sure izzle boom shackalack. Pellentesque crackalackin rhoncizzle nisi. In hizzle platea dictumst. Fo shizzle dapibus. Curabitur uhuh ... yih! urna, pretizzle eu, dope dawg, eleifend fo, nunc. Gizzle suscipizzle. Integizzle i saw beyonces tizzles and my pizzle went crizzle velit my shizz purizzle.</p>
			<p>Etizzle a magna sizzle augue ghetto accumsizzle. Aenizzle nizzle shut the shizzle up. Away mauris dolizzle, viverra vitae, facilisizzle izzle, dope izzle, yippiyo. Fizzle ante ipsum fizzle izzle pimpin' orci nizzle izzle that's the shizzle own yo' cubilia Curae; Ma nizzle dolizzle. Fo shizzle faucibizzle. Maecenizzle pharetra blandit quizzle. The bizzle rutrizzle fo crazy. I saw beyonces tizzles and my pizzle went crizzle facilisizzle. Fo shizzle sizzle yo mamma, venenatizzle eu, scelerisque bling bling, blandizzle sure, magna.</p>
			<p>Lorizzle mofo dolor sit amizzle, shiz adipiscing elit. Nullizzle brizzle velizzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle volutpat, suscipit quis, gravida vizzle, gangsta. Pellentesque phat its fo rizzle. Bizzle erizzle. Pimpin' at dolor dapibus turpis tempizzle tempizzle. Maurizzle shizzle my nizzle crocodizzle nibh et turpis. For sure izzle boom shackalack. Pellentesque crackalackin rhoncizzle nisi. In hizzle platea dictumst. Fo shizzle dapibus. Curabitur uhuh ... yih! urna, pretizzle eu, dope dawg, eleifend fo, nunc. Gizzle suscipizzle. Integizzle i saw beyonces tizzles and my pizzle went crizzle velit my shizz purizzle.</p>
			<p>Etizzle a magna sizzle augue ghetto accumsizzle. Aenizzle nizzle shut the shizzle up. Away mauris dolizzle, viverra vitae, facilisizzle izzle, dope izzle, yippiyo. Fizzle ante ipsum fizzle izzle pimpin' orci nizzle izzle that's the shizzle own yo' cubilia Curae; Ma nizzle dolizzle. Fo shizzle faucibizzle. Maecenizzle pharetra blandit quizzle. The bizzle rutrizzle fo crazy. I saw beyonces tizzles and my pizzle went crizzle facilisizzle. Fo shizzle sizzle yo mamma, venenatizzle eu, scelerisque bling bling, blandizzle sure, magna.</p>

			<!-- END INJECT SECTION TITLE BODY -->	
		
		</div><!-- col-md-9 -->
	</div><!-- row -->
	<div class="row">
		<div class="col-md-8">
		
		
		
		
		<!-- INJECT STORIES -->
									<div class="grid">
									<div class="row">
									<div class="col-md-6">
									<!-- EVOLVE #1 -->
									<div class="u-5pad">
										<div class="box">
										{% for post in site.tags.evolve limit:1 offset:0 %}
										{% if post.imageUrl %}
										<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
											<div class="boxoverlay"><span>{{ post.title }} <small><span class="fa fa-arrow-circle-o-right"></span></small></span></div>
										</a>
										{% else %}
										<a href="{{ post.link }}">
										<div class="boxtype">{{ post.content }}</div>
										</a>
										{% endif %}
										{% endfor %}
										</div><!-- box -->
									</div>
									
									</div>
			
									<!-- EVOLVE #2 -->
									<div class="u-5pad">
										<div class="box">
										{% for post in site.tags.evolve limit:1 offset:1 %}
										{% if post.imageUrl %}
										<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
											<div class="boxoverlay"><span>{{ post.title }} <small><span class="fa fa-arrow-circle-o-right"></span></small></span></div>
										</a>
										{% else %}
										<a href="{{ post.link }}">
										<div class="boxtype">{{ post.content }}</div>
										</a>
										{% endif %}
										{% endfor %}
										</div><!-- box -->
									</div>
									
									</div>
									
									<div class="row">
									<div class="col-md-6">
									<!-- EVOLVE #3 -->
									<div class="u-5pad">
										<div class="box">
										{% for post in site.tags.evolve limit:1 offset:2 %}
										{% if post.imageUrl %}
										<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
											<div class="boxoverlay"><span>{{ post.title }} <small><span class="fa fa-arrow-circle-o-right"></span></small></span></div>
										</a>
										{% else %}
										<a href="{{ post.link }}">
										<div class="boxtype">{{ post.content }}</div>
										</a>
										{% endif %}
										{% endfor %}
										</div><!-- box -->
									</div>
									
									</div>
									
									<!-- EVOLVE #4 -->
									<div class="u-5pad">
										<div class="box">
										{% for post in site.tags.change limit:1 offset:1 %}
										{% if post.imageUrl %}
										<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
											<div class="boxoverlay"><span>{{ post.title }} <small><span class="fa fa-arrow-circle-o-right"></span></small></span></div>
										</a>
										{% else %}
										<a href="{{ post.link }}">
										<div class="boxtype">{{ post.content }}</div>
										</a>
										{% endif %}
										{% endfor %}
										</div><!-- box -->
									</div>
									
									</div>
							</div><!-- grid -->
		<!-- INJECT STORIES -->
		
		
		
		</div><!-- col-md-6 -->
		
		
		<div class="col-md-4">
			<div class="row">
			
			
		<!-- INJECT CONTACT -->
						<div id="contactinfo">
							<strong>College of Visual and Performing Arts</strong><br /> 807 Maytum Hall<br /> SUNY Fredonia<br /> Fredonia, NY 14063<br /> Ph: (716) 673-3174<br /> <br /> <strong>Dean:</strong><br /> Ralph Blasting, Ph.D.<br /> 807 Maytum Hall<br /> <a href="mailto:Ralph.Blasting@fredonia.edu" class="email_address">Ralph.Blasting<br />@fredonia.edu</a><br /> <br /> <strong>Secretary:</strong><br /> Julie Sticek<br /> 808 Maytum Hall<br /> <a class="email_address" href="mailto:Julie.Sticek@fredonia.edu">Julie.Sticek<br />@fredonia.edu</a>
						</div>
		<!-- END INJECT CONTACT -->
						
						
						
			</div><!-- row -->
			<div class="row">
				<h3>Contact goes here</h1>
				<p>This will be the contact block!</p>
			</div><!-- row -->
		</div><!-- col-md-6 -->
	</div><!-- row -->
</div><!-- container -->
